# IBM CAPSTONE PROJECT NOTEBOOK
### this notebook will be used mainly for the capstone project

## Segmenting and Clustering Neighborhoods in Toronto

In [1]:
### Importing the necessary packages

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
##
import numpy as np
## for reading json files 
import json
### importing geopy package to convert adresses into latitude and longitude  
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

### library to handle requests 
import requests
## library to transform json files into pandas' dataframe
from pandas.io.json import json_normalize
### Import matplotlib related packages 
import matplotlib.cm as cm
import matplotlib.colors as colors

### importing the folium package for the geography data 
import folium

# The First Step is to Extract the Table on Wikipedia into a DataFrame Object
### In the following lines of codes, we will be doing that

In [2]:
## importing a webscrapping library
from bs4 import BeautifulSoup
import requests

In [50]:

## get the html text of the website 
websource = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

### read it with the beautifulpackage 
soup = BeautifulSoup(websource, 'lxml')
#print(soup.prettify()) #will show the beautified version of the web content as html file

In [51]:
# getting a table from the website 
tables = soup.find('table')
#print(tables)

In [55]:

table_rows = tables.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)


df = pd.DataFrame(res, columns=["Postcode", "Borough", "Neighborhood"])
print(df.head(5))

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [56]:
df = df[df.Borough != 'Not assigned']
df.head(3)

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [57]:
### getting not assigned neighborhood
a = df[df.Neighborhood == 'Not assigned']
print(a) ### seems like the 9th element of our data frame is nonassigned

  Postcode       Borough  Neighborhood
8      M7A  Queen's Park  Not assigned

In [58]:
### changing the name of the neighborhood to the name of the Borough
df.loc[8, 'Neighborhood'] = "Queen's Park"

In [59]:
df.shape

(212, 3)

# From Here on is for the Second Point in the Submission

## At this step, we will be getting lattitudes and longitudes of the neighborhoods

In [8]:
#!conda install -c conda-forge geocoder --yes
#import geocoder

In [11]:
#postcode = df.Postcode
#postcode = pd.Series.tolist(postcode) ### willmake it a list 
#### creating two lists (lattitudes and longitudes) by passing the postcode

# initialize your variable to None
#lat_lng_coords = None

# loop until you get the coordinates
#while(lat_lng_coords is None):
  #g = geocoder.google('{}, Toronto, Ontario'.format(postcode))
  #lat_lng_coords = g.latlng

#latitude = lat_lng_coords[0]
#longitude = lat_lng_coords[1]

In [60]:
df = df.rename(columns = {'Postcode': 'Post'})
df.head()

  Post           Borough      Neighborhood
2  M3A        North York         Parkwoods
3  M4A        North York  Victoria Village
4  M5A  Downtown Toronto      Harbourfront
5  M5A  Downtown Toronto       Regent Park
6  M6A        North York  Lawrence Heights

In [61]:
### getting the lattitudes and longitutes csv file
latlon = pd.read_csv('Geospatial_Coordinates.csv')
latlon.head(2)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497

In [62]:
latlon = latlon.rename(columns = {'Postal Code' : 'Post'})
latlon.head(3)

  Post   Latitude  Longitude
0  M1B  43.806686 -79.194353
1  M1C  43.784535 -79.160497
2  M1E  43.763573 -79.188711

In [63]:
result = pd.merge(df, latlon, how='left', on=['Post'])
result.head()

  Post           Borough      Neighborhood   Latitude  Longitude
0  M3A        North York         Parkwoods  43.753259 -79.329656
1  M4A        North York  Victoria Village  43.725882 -79.315572
2  M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3  M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4  M6A        North York  Lawrence Heights  43.718518 -79.464763

In [66]:
result = result.rename(columns = {'Post' : 'PostalCode'})
result.head(3)

  PostalCode           Borough      Neighborhood   Latitude  Longitude
0        M3A        North York         Parkwoods  43.753259 -79.329656
1        M4A        North York  Victoria Village  43.725882 -79.315572
2        M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636

In [67]:
result.shape

(212, 5)